body {
    margin-top: 1rem;
    background-color: rgb(241, 238, 238);

}

.picBackground {
    background: url(./Pictures/denali-mtn-range.jpg)
}
  
.card {
    /* min-height: 15rem;
    min-width: 15rem; */
    flex: auto;
    padding: 10px;
    flex-wrap: nowrap;
    justify-content: center;
}

#weatherCard {
    display: none;
    width: 250px;
}

#webCamCard {
    width: 250px;
    display: none;
}
#webCamImg {
    width: 100%;
    margin: 0;
}
    
.dropdownBox {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

section {
    margin-top:2rem;
}
  
#startCard {
    background-color: rgb(241,238,238);
    margin-top: 60%;
}

@media only screen and (max-width: 992px){
    .row {
        display:flex;
        flex-direction: column-reverse;

    }
    .leftSide{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }
}

@media only screen and (max-width: 992px){
    #startCard {
        margin-top:10%;
    }
}
