body {
    margin-top: 1rem;
    background-color: rgb(241, 238, 238);

}

body {
    background: url(./Pictures/denali-mtn-range.jpg)
}
  
.card {
    min-height: 15rem;
    min-width: 15rem;
    flex: auto;
    flex-wrap: nowrap;
    justify-content: center;
}
  
.saveBtn {
    margin-top: 1rem;
}
  
.dropdownBox {
    margin-top: 1rem;
}
  
#startCard {
    background-color: rgb(241,238,238);
    margin-top: 60%;
}

img {max-width: 100%; height: auto;}

@media only screen and (max-width:992px) {
    #startCard {
        margin-top: 10%;
    }
}
